{% extends 'base.html.twig' %}

{% block title %}Students{% endblock %}
{% block body %}
    <h1 class="display-5">Studentai</h1>
    {% if students %}
        <ul class="list-group">
            {% for id, student in students %}
                <li class="list-group-item">
                    <a href="{{ path('student', {'id': id}) }}">{{ student.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nėra studentų</p>
    {% endif %}

{% endblock %}
