{% extends 'base.html.twig' %}

{% block title %}Vertinimai{% endblock %}
{% block body %}
    {% if academy %}
        <table class="table">
            <tbody>
        {% if team %}
            <tr>
                <th scope="row">Komanda</th>
                <td>{{ team }}</td>
            </tr>
        {% endif %}
        {% if mentor %}
            <tr>
                <th scope="row">Mentorius</th>
                <td>{{ mentor }}</td>
            </tr>
        {% endif %}
        {% if name %}
            <tr>
                <th scope="row">Laimingasis(-oji)</th>
                <td>{{ name }}</td>
            </tr>
        {% endif %}
            </tbody>
        </table>
        {% if name == "Deimantas" %}
            <div class="alert alert-success" role="alert">
                Dešimt balų
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Gal pasiseks kitą kartą
            </div>
        {% endif %}
        <a href="{{ path('student_list') }}">Visi dalyviai</a>
    {% endif %}

{% endblock %}
